@CHARSET "UTF-8";

body { padding: 0px; margin: 0px; font-family: Georgia; font-size: 14px; background: #CFCFCF url(main.png) no-repeat center 50px; }

#page { width: 1000px; margin: 20px auto; }

a { color: #5C7F99; text-decoration: none; }
a:hover { text-decoration: underline; }

code { color: #0101C8; background-color: #FFF; padding: 20px; display: block; -moz-border-radius: 5px; }

/*h3 { font-size: 16px; }*/

.subMenu { clear: both; }
.subMenu a { padding: 5px; background-color: #ccc; color: #3D0017; text-decoration: none; float: left; }
.subMenu a:hover { background-color: #333; }

.dyn { background-color: yellow; }

.comment { color: #808000; }

#doc, #note, #spread, #examples { padding-top: 40px; line-height: 20px; clear: both; }

#head { float: left; width: 363px; padding: 0 50px; font-size: 16px; }
#head h1 { background: url(jqbargraphlogo.png) no-repeat; font-size: 35px; }
#head h1 small { font-size: 22px; padding-left: 20px; }

#head .download a,
#examples .exampleMenu a { 
	-moz-border-radius: 5px; 
	font-style: italic; 
	font-size: 16px; 
	background-color: #9b9b9b; 
	color: white; 
	padding: 5px 10px; 
	width: 200px; 
	margin: 5px; 
	display: block; 
}
#head .download a:hover, #examples .exampleMenu a:hover, .exampleActive { background-color: #474747 !important; text-decoration: none; }

#head .headText {  }

#examples #exampleSimple, #examples code, #examples .exampleMenu, #examples #exampleMulti { float: left; }
#examples .exampleMenu { width: 150px; }
#examples .exampleMenu { padding-top: 20px; }
#examples .exampleMenu a { display: block; font-size: 14px; width: 115px; }
#examples code { display: none; width: 310px; background: none; float: left; }
#examples h2 { padding-bottom: 10px; }


/*--- shared */



#ftHolder { width: 500px; float: left; text-align: center; height: 332px; padding-top: 90px; }
#ft { border: 5px solid #BAD340; -moz-border-radius: 5px; }
#example { float: left; }
.ft-title { padding: 10px 10px; width: 480px; text-align: left; }


/*--- end:shared */

.topbar h2{ font-weight: normal !important }
.topbar a { color: #3399cc; text-decoration: none; }
.topbar a:hover { text-decoration: underline; }

.ft-prev, .ft-next { background-color: #000; padding: 0 10px; }

.ft-button-ft-active { color: black; }
.nivoSlider{
	z-index: 1;
}