html{
    margin: 0px;
    padding: 0px;
}
body{
    margin: 0px;
    padding: 0px;
    background: url(images/mainbg.jpg) repeat-x #b6873a;
}
#wrapper{
    width:100%;
    background: url(images/bodybg.jpg) no-repeat top -50px center;
    padding-bottom: 50px;
    overflow: hidden;
}
#topbar{
    width: 100%;
    height: 231px;
    float: left;
}
#topbar_content{
    width: 1024px;
    margin: auto;
    height: 231px;
    position: relative;
}
.logo{
    width: 400px;
    height: auto;
    position: absolute;
    left: 320px;
    top: 0px;
}
.leaf{
    width: 76px;
height: 80px;
position: absolute;
top: -55px;
right: -156px;
}
.logotext{
    width: 128px;
height: auto;
text-align: center;
position: absolute;
left: 67px;
top: 80px;
}
h4{
    color: #161616;
    font-weight: normal;
    font-size:16px;
    font-family: 'PT Sans', sans-serif;
    margin: 0px;
    padding: 0px;
}
h6{
     color: #161616;
    font-weight: normal;
    font-size:13px;
    font-family: 'PT Sans', sans-serif;
    margin: 0px;
    padding: 0px;
    margin-top: 5px;
}
.textbox{
    border:1px solid #dedede;
    padding: 3px;
}
.textbox1{
    padding: 5px;
    height: 25px;
    border:1px solid #555;
    margin-bottom: 5px;
    width:260px;
}
.button{
    background: #a60709; color: #fff;width:auto; min-width:70px; margin-top: 0px; height: 25px; font-size:16px;
    font-family: 'PT Sans', sans-serif;
    border:none;
    cursor: pointer;
    
}
h4 span{
    font-size:22px;
    font-weight: bold;
}
.logotext1{
    width: 128px;
height: auto;
text-align: center;
position: absolute;
right: 67px;
font-size:12px;
 font-family: 'PT Sans', sans-serif;
top: 65px;
}
.leftleaf{
    width: 291px;
    height: 278px;
    position: absolute;
    left: -166px;
    bottom: -58px;
    z-index: 4;
}
.menubar{
    background: url(images/navbg.png) no-repeat;
    width: 940px;
    height: 74px;
    position: absolute;
    bottom: -36px;
    left: 41px;
    z-index: 5;
    padding: 0;
    padding: 0 3px 0 0;
}
.menu a{
font-family: 'PT Sans';
float: left;
color: #FFF;
width: 80px;
text-align: center;
padding: 23px 0;
padding-left: 26px;
padding-right: 26px;
font-size: 15px;
line-height: 22px;
font-weight: normal;
font-style: normal;
text-decoration: none;
text-shadow: 1px 1px 0px #000;
display: block;
margin-top: 3px;
outline: none;
outline-style: none;
outline-width: 0;
border-right: 1px solid #c60b11;
}
.menu a:hover{
   background: url(images/navbg.png) no-repeat 5px -79px;
}
.menu a.select{
background: url(images/navbg.png) no-repeat 5px -79px;
display: block;
margin-top: 3px;
line-height: 20px;
}
.rightribbon{
    width: 243px;
    height: 146px;
    position: absolute;
    right: -118px;
    bottom: -42px;
    z-index: 4;
}
#banner{
    width: 100%;
/*    background: url(images/sliderbg.jpg) no-repeat top center #030303;*/
    height: auto;
    
float: left;
}
#banner_content{
    width: 1024px;
    height: 259px;
    margin: 0px auto;
    padding: 0px;
}
#maincontainer{
    width: 100%;
    background: url(images/contentbg.png) repeat-x;
    height: auto;
    float: right;
    padding: 0px;
    margin: 0px auto;
    border: 0px solid #00C;
    margin-bottom: 77px
}
#leftbar{
    float: left;
    width: 20%;
    height: auto;
    margin-top: 65px;
    box-sizing: border-box;
    padding-right: 15px;
}
.leftbox{
/*width: 220px;*/
height: auto;
padding-bottom: 31px;
margin-bottom: 22px;
border-top: 3px solid #d70c13;
}
.title{
    width: 100%;
height: auto;
background: #000;
text-align: center;
padding: 6px 0;
color: #fff;
font-family: 'PT Sans';
font-size:16px;
border-bottom: 1px solid #fff;
}
.title a:link,.title a:active, .title a:hover, .title a:visited{
    color: #fff;
    text-decoration: none;
}
.title:hover{
    background: #f04f52;
}
.active{
    background: #f04f52;
}
#rightbar{
    float: left;
    width: 60%;
    height: auto;
    padding: 10px 0;
    margin-top: 56px;
}
.righttitle{
padding: 10px 15px;
background-color: #000;
color: #ffffff;
font: normal 25px/30px 'PT Sans';
margin-bottom: 12px;
}
label{
    font-family: 'PT Sans';
    font-size:16px;
    color: #000;
}
h5{
font-family: 'PT Sans';
font-weight: normal;
text-transform: uppercase;
font-size:20px;
color: #a60709;
margin: 0px;
padding: 0px;
}
table.table1{
    width: 100%;
    border-collapse: collapse;
}
table.table1 tr th{
height: 41px;
padding: 10px;
text-align: center;
background: url(images/th-bg.jpg) 0 0 repeat-x;
color: #fff;
font-size: 14px;
font-family: 'PT Sans';

}
table.table1 tr td{
    text-align: center;
padding: 2px 10px;
color: #010101;
font: normal 14px/30px 'PT Sans';
word-break: break-all;
}
.odd{
    background:#f0d980;
}
.even{
    background: #f7e397;
}
.topsection{
width: 1024px;
height: auto;
margin: 0 auto;
padding-top:20px;
padding-bottom: 0px;
}
@font-face {
    font-family: 'CANDARA';
    src: url('fonts/CANDARA.eot');
    src: url('fonts/CANDARA.eot') format('embedded-opentype'),
         url('fonts/CANDARA.html') format('woff2'),
         url('fonts/CANDARA.woff') format('woff'),
         url('fonts/CANDARA-2.html') format('truetype'),
         url('fonts/CANDARA.svg#CANDARA') format('svg');
}
.login-user .topsection{
    width: 1280px;
}
h2{
    color: #050505;
font-weight: normal;
font-size:30px;
 font-family: 'CANDARA';
text-align: center;
margin-bottom: 58px;
font-style: italic;
}
.gamebar{
    width: 1024px;
    height: auto;
    margin: 0 auto;
    margin-top: 69px;
    min-height: 391px;
    display: block;
    float: left;
    position: relative;
    left: 50%;
    transform: translate(-50%,0);

}
.spbk .gamebar{
    margin-top: 0 !important;
}
/*css sidebar*/
.siderbar {
    position: fixed;
    top: 168px;
    leff: -1px;
    z-index: 100;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}
.downloadbar, .siderbar, .overlay .qrcode img {
    box-shadow: 0 5px 10px rgba(0,0,0,.6);
}

.siderbar .content {
    width: 231px;
}
.siderbar .memberser {
    color: #fff;
    background-color: #66087a;
}

.siderbar .memberser {
    padding: 9px 13px 7px 17px;
    color: #fff;
    font-weight: 900;
    background: #003147 url(http://luxury138kk.com/Content/common/images/icon-livehelp-24-7.png) no-repeat 15px 4px;
}
.siderbar .memberser dt {
    padding-left: 58px;
    font-family: 'Tahoma';
    font-size: 2.25rem;
}
.siderbar .memberser span {
    margin: 0 3%;
    font-size: 1.75rem;
}
.siderbar .memberser dt {
    padding-left: 58px;
    font-family: 'Tahoma';
    font-size: 2.25rem;
}
.siderbar .memberser dd {
    margin-top: 6px;
    line-height: 18px;
    text-align: center;
    font-size: .875rem;
}
.siderbar .content a {
    display: block;
    text-decoration: none;
}
.liveitem a {
    color: #fff;
    text-align: center;
    font-weight: 700;
    min-width: 115px;
    padding: 2px 8px;
    background-color: #137f97;
    font-size: .75rem;
}
.liveitem a {
    color: #1f1f1f;
    background-color: #fbb03b;
}
.siderbar .lang_nav li {
    margin: 0 3px;
}
.siderbar .lang_nav .indo {
    background-position: center -23px;
}
.siderbar .lang_nav a {
    width: 27px;
    height: 32px;
    background: url(http://luxury138kk.com/Content/common/images/language.png) no-repeat;
}
.siderbar .contact_col {
    background-color: #460147;
}
.siderbar .contact_col {
    background-color: #e3e3e3;
    padding: 5px 10px;
    box-shadow: 0 1px 3px rgba(0,0,0,.8);
    cursor: pointer;
}
.siderbar .contact_col span {
    display: block;
    margin-right: 8px;
    width: 32px;
    height: 34px;
}
.siderbar p {
    width: 198px;
    height: 46px;
    line-height: 38px;
    padding: 5px;
    position: absolute;
    top: 60px;
    left: 169px;
    background: #2b9daf url(http://luxury138kk.com/Content/common/images/icon-livehelp-contact.png) no-repeat right center;
    color: #fff;
    text-indent: 28px;
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    letter-spacing: 1px;
    cursor: pointer;
    font-size: 1rem;
}
.siderbar p {
    background-color: #4b0004;
    border-radius: 0 0 5px 5px;
}
.siderbar_close {
    left: -245px;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}
.siderbar p span {
    width: 20px;
    height: 46px;
    background: url(http://luxury138kk.com/Content/common/images/icon-livehelp-arrow.png) no-repeat center center;
    position: absolute;
    top: 0;
    right: 182px;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.siderbar .memberser {
    color: #fff;
    background-color: #66087a;
}

.siderbar .memberser {
    padding: 9px 13px 7px 17px;
    color: #fff;
    font-weight: 900;
}
/*end css sidebar*/
.gamebar > div {
    background-position: top center;
    background-size: contain;
    width: 33.33%;
    margin: 0;
    height: 238px;
    cursor: pointer;    
    -webkit-transition: all 500ms ease 0s;
    -moz-transition: all 500ms ease 0s;
    -o-transition: all 500ms ease 0s;
    transition: all 500ms ease 0s;
    margin-bottom: 100px;
}

.banner-top-slide img{
  max-width: 100%;
}
/*.nivoSlider {
height: 500px !important;
}
.theme-default .nivoSlider img{
  height: 500px !important;
}*/
.gamebar > div:hover {
  webkit-transform: scale(1.2) rotate(0.1deg);
    -moz-transform: scale(1.2) rotate(0.1deg);
    -ms-transform: scale(1.2) rotate(0.1deg);
    -o-transform: scale(1.2) rotate(0.1deg);
    transform: scale(1.2) rotate(0.1deg);
}
.gamebar > div img {
    width: 88%;
    position: absolute;
    left: 50%;
    transform: translate(-50%,0);
     top: -87px;

}
.item-title {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translate(-50%,0);
    font-family: 'CANDARA';
    font-size: 19px;
    color: #ebcf6c;
    font-weight: bold;

}
.box1{
    background: url("images/falling-stars.png") no-repeat scroll 0 0 transparent;
float: left;
height: 314px;
width: 249px;
margin-right: 8px;
position: relative;
text-align: center;
padding-bottom: 60px;

}
.box2{
    float: left;
height: 314px;
width: 249px;
margin-right: 8px;
background: url(images/falling-stars.png) 0 0 no-repeat;
text-align: center;
position: relative;
padding-bottom: 60px;
}
.box3{
   float: left;
height: 314px;
width: 249px;
margin-right: 8px;
background: url(images/falling-stars.png) 0 0 no-repeat;
text-align: center;
position: relative;
padding-bottom: 60px;
}
.box4{
    float: left;
height: 314px;
width: 249px;
background: url(images/falling-stars.png) 0 0 no-repeat;
text-align: center;
position: relative;
padding-bottom: 60px;
}

/*product show game*/
#image-container{
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
}


/*end product show game*/


h3{
   color: #fff;
   margin: 0px;
    font-weight: normal;
    font-size:26px;
    font-family: 'PT Sans', sans-serif;
padding-top: 14px;
margin-bottom: 12px; 
}
p{
    color: #ffffff;
     font-weight: normal;
    font-size:13px;
font-family:  Arial, Helvetica, sans-serif;
padding: 13px 0;

padding-bottom: 0px;
}
.box { width:249px; height:196px;  overflow:hidden; border-bottom: 1px solid #f8e8b8; 
 }
			
.box img { margin-top: -75%; 			
				-webkit-transition:all 0.5s ease-in-out;
				-moz-transition:all 0.5s ease-in-out;
				-o-transition:all 0.5s ease-in-out;
				-ms-transition:all 0.5s ease-in-out;  
				transition:all 0.5s ease-in-out; }
.box:hover  img { margin-top: 0%;   opacity: 0.4;}
.playbtn{
        position: absolute;
    bottom: 40px;
    left: 66px;
   
}
.promotionbar{
    width: 1044px;
    height: 284px;
    margin: 0 auto;
    margin-top:498px;
    position: relative;
    background: url(images/stepsbg.png) right 0 no-repeat;
}
.heart{
    position: absolute;
top: -98px;
left: -210px;
width: 205px;
height: 210px;
}
.promotionbox{
    position: absolute;
top: -12px;
left: 9px;
}
.stepsbar{
    float: right;
width: 657px;
height: 260px;
margin: 0px 0px 0 0px;
margin-top: 0px;
margin-left: 0px;
margin-right:0px;
border: 0px solid blue;
}
.stepsbox1{
    float: left;
width: 219px;
height: 284px;

text-align: center;
}
.stepsbox2{
    float: left;
width: 219px;
height: 284px;

text-align: center;
}
.stepsbox3{
    float: left;
width: 219px;
height: 284px;

text-align: center;
}
.number{
    width: 98px;
height: 99px;
margin: 0 auto 45px auto;
}
.stepsbar p{
    color: #000;
    font-family: 'PT Sans', sans-serif;
    padding-top: 0px;
}

#footer{
    width:100%;
    float: left;
    height: auto;
}
.footertop{
    width: 100%;
    height: 235px;
    background: url(images/footerbg.jpg) no-repeat top center #000;
}
.footertopcontent{
    width: 1024px;
height: 235px;
margin: 0 auto;
position: relative;
}
.diamond{
    width: 168px;
height: 198px;
position: absolute;
top: -100px;
right: -160px;
}
.socialmedia{
    float: left;
    width: 82px;
    height: auto;
    margin: 162px 36px 0 260px;
}
.socialmedia ul{
    padding-left: 0px;
    padding-top: 0px;
    margin-top:0px;
}
.socialmedia ul li{
    float: left;
    list-style-type:none;
}
.footerbox1{
    float: left;
width: 200px;
height: auto;
margin: 44px 30px 0 0;
}
.footerbox1 ul{
    padding-left: 0px;
    margin-top:0px;
}
.footerbox1 ul li{
    list-style-type: none;
}
.footerbox1 ul li a{
    color: #487872;
    line-height: 2;
    font-size:13px;
    list-style-type: none;
    text-decoration: none;
    font-family: 'PT Sans', sans-serif;
}
.footerbox2{
    float: left;
    width: 356px;
    height: auto;
    margin-top: 30px;

}
.footerbox2 ul{
    padding-left: 0px;
    margin-top:0px;
}
.footerbox2 ul li{
    list-style-type: none;
}
.footerbox2 ul li a{
    color: #487872;
    line-height: 2;
    font-size:13px;
    list-style-type: none;
    text-decoration: none;
    font-family: 'PT Sans', sans-serif;
}
.footerbox2 h3{
        color: #e2cca5;
    font-weight: normal;
    font-size:22px;
   font-family: 'PT Sans', sans-serif;
    margin-bottom: 40px;

}
.security{
    float: right;
    margin: 0 0 10px 20px;
}
.footerbottom{
    width: 100%;
    background: #000;
    border-top: 1px solid #282428;
    border-bottom: 0px solid #130e08;
    min-height: 51px;
    height: 170px;
}
.footerbottomcontent{
    width: 1024px;
margin: 0px auto;
min-height: 31px;
position: relative;
padding: 20px 0px 0px 0px;
}
.footerlogo{
    width: 338px;
height: 203px;
position: absolute;
left: -61px;
top: -152px;
background: url(images/footerlogobg.png) 0 0 no-repeat;
}
.footerlogoimg{
    float: left;
width: 277px;
height: 117px;
padding-top: 33px;
text-align: center;
}
.copyrights{
    float: left;
width: 277px;
text-align: center;
color: #300001;
font-size: 13px;
font-weight: normal;

}
.footerbottomleft{
    width: 100%;
height: auto;
float: left;
padding: 0px;
margin: auto;
color: #545454;
font-size: 13px;
font-weight: normal;
font-family: Arial, Helvetica, sans-serif;
text-align: center;
}
.footertop p{
    padding-top: 0px;
}
.footerbottom p{
    padding-top: 0px;
}
.footerbottomright{
    width: auto;
float: right;
height: auto;
padding: 0px;
margin: 0px;
color: #545454;
font-size: 13px;
font-weight: normal;
font-family: Arial, Helvetica, sans-serif;
}

/* Modal */
.modal {
  background-color: rgba(0,0,0,.65);
  display: none;
  overflow: auto;
  position: fixed;
  z-index: 1000;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Modal Content */
.modal-content {
  position: relative;
  top: 20%;
  width: 900px;
  margin: 0 auto;
  background-color: #edd56b;
  //background-color: #fff;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}
.modal-animated-in {
  -webkit-animation: totop-in .3s ease;
          animation: totop-in .3s ease;
}
.modal-animated-out {
  -webkit-animation: totop-out .3s ease forwards;
          animation: totop-out .3s ease forwards;
}
.modal-header {
  background-color: #111;
  width: 98%;
  height: 60px;
padding-left: 1%;

}
.modal-content .close {
  position: absolute;
  right: 0;
  top: 0;
  background-color: #222;
  width: 60px;
  height: 60px;
  color: #fff;
  line-height: 60px;
  text-align: center;
  cursor: pointer;
  -webkit-transition: all .3s;
  transition: all .3s;
}
.modal-content .close:hover {
  background-color: #fff;
  color: #222;
}

/* Modal Body */
.modal-body {
  padding: 0 20px;
  float: left;
  height: auto;
    background-color: #edd56b;
  min-height: 200px;
}
.modal-body ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.modal-body ul li {
  position: relative;
  display: block;
  margin-left: 20px;
  color: #555;
}
.modal-body ul li::before {
  position: absolute;
  content: '\f00c';
  color: #5cc560;
  left: -20px;
  top: 10px;
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

/* Modal Footer */
.modal-footer {
  background-color: #111;
  width: 99%;
  height: 60px;
  float: left;
  padding-left: 1%;


}
.modal-header h3,
.modal-footer h3 {
  color: #fff;
}

/* Keyframes */
@-webkit-keyframes totop-in {
  0% {
    top: 600px;
    opacity: 0;
  }
  100% {
    top: 20%;
    opacity: 1;
  }  
}
@keyframes totop-in {
  0% {
    top: 600px;
    opacity: 0;
  }
  100% {
    top: 20%;
    opacity: 1;
  }  
}

@-webkit-keyframes totop-out {
  0% {
    top: 0px;
    opacity: 1;
  }
  100% {
    top: -100%;
    opacity: 0;
  }  
}

@keyframes totop-out {
  0% {
    top: 0px;
    opacity: 1;
  }
  100% {
    top: -100%;
    opacity: 0;
  }  
}
.banner-top-slide img {
     width: 100%;
 }

.spb{
    margin-bottom: 11px !important;
    margin-top: 48px !important;
}

.gamepromotion {
    clear: both;
    max-width: 1024px;
    margin: auto;
}

.conent-pro {
    background-color: black;
    padding: 10px;
    box-sizing: border-box;
}
#accordion img{
    max-width: 100%;
}
.conent-pro  p{
    font-size: 15px;
}
#accordion a:focus{
    outline: none;
}
.content-logon-model{
    display: none;
}

#loginfrom-f {
    padding: 10px 0;
    text-align: center;
    float: left;
    width: 100%;
    background-color: #edd56b;
}

#loginfrom-f input{
    width: 360px;
    height: 40px;

    margin: auto;
    padding-left: 10px;
    margin-bottom: 10px;
}
.col-md-6{
    width: 50%;
    float: left;
}
#loginfrom-f button{
    width: 146px;
    height: 46px;
    margin: 10px;
}
.group-confirm-signin{
    clear: both;
    float: left;
    position: relative;
    left: 50%;
    transform: translate(-50%,0);
}
.forgot-p{
    float: left;
    margin-left: 76px;
}
.login-f{
    background-color:#dd0023 !important;
    color: #fff;
    border: none;
    outline: none;
    font-size: 17px;
    cursor: pointer;
}
.join-f {
    background: #006B0F !important;
    color: #fff;
    border: none;
    outline: none;
    font-size: 17px;
    cursor: pointer;
}
.modal-contentl h2
{
    color: #fff;
    font-size: 25px;
    line-height: 65px;
}

.modal-contentl,.fll-100{
    width: 530px;
}
.p2g,.banner-top-slide{
    max-width: 1024px;
    margin: 0 auto;
}
.banner-top-slide{
    max-width: 1920px;
    margin: 0 auto;
}
.center-box {
    float: left;
    position: relative;
    left: calc( 50% - 200px);
    cursor: pointer;

}
.center-box{


    /*webkit-transition: all 500ms ease 0s;*/
    /*-moz-transition: all 500ms ease 0s;*/
    /*-o-transition: all 500ms ease 0s;*/
    /*transition: all 500ms ease 0s;*/
    /*-webkit-transform: translateZ(0);*/
    /*transform: translateZ(0);*/
    /*box-shadow: 0 0 1px rgba(0,0,0,0);*/
    /*-webkit-backface-visibility: hidden;*/
    /*backface-visibility: hidden;*/
    /*-moz-osx-font-smoothing: grayscale;-*/

    -webkit-transition: all 500ms ease 0s;
    -moz-transition: all 500ms ease 0s;
    -o-transition: all 500ms ease 0s;
    transition: all 500ms ease 0s;

}
.center-box img{
    box-shadow: -1px 2px 16px #000;
}
.center-box:hover{
    webkit-transform: scale(1.2) ;
    -moz-transform: scale(1.2) ;
    -ms-transform: scale(1.2) ;
    -o-transform: scale(1.2);
    transform: scale(1.2) ;

    /*-webkit-animation-name: hvr-bob-float,hvr-bob;*/
    /*animation-name: hvr-bob-float,hvr-bob;*/
    /*-webkit-animation-duration: .3s,1.5s;*/
    /*animation-duration: .3s,1.5s;*/
    /*-webkit-animation-delay: 0s,.3s;*/
    /*animation-delay: 0s,.3s;*/
    /*-webkit-animation-timing-function: ease-out,ease-in-out;*/
    /*animation-timing-function: ease-out,ease-in-out;*/
    /*-webkit-animation-iteration-count: 1,infinite;*/
    /*animation-iteration-count: 1,infinite;*/
    /*-webkit-animation-fill-mode: forwards;*/
    /*animation-fill-mode: forwards;*/
    /*-webkit-animation-direction: normal,alternate;*/
    /*animation-direction: normal,alternate;*/
}
.nobg >div{
    background-image: none;
}

/*custom effect hover*/
.hvr-bob:active, .hvr-bob:focus, .hvr-bob:hover {
    -webkit-animation-name: hvr-bob-float,hvr-bob;
    animation-name: hvr-bob-float,hvr-bob;
    -webkit-animation-duration: .3s,1.5s;
    animation-duration: .3s,1.5s;
    -webkit-animation-delay: 0s,.3s;
    animation-delay: 0s,.3s;
    -webkit-animation-timing-function: ease-out,ease-in-out;
    animation-timing-function: ease-out,ease-in-out;
    -webkit-animation-iteration-count: 1,infinite;
    animation-iteration-count: 1,infinite;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-direction: normal,alternate;
    animation-direction: normal,alternate;
}

.hvr-bob {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0,0,0,0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
}

/*end custom effect hover*/

@-webkit-keyframes hvr-bob {
    0% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px)
    }
    50% {
        -webkit-transform: translateY(-4px);
        transform: translateY(-4px)
    }
    100% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px)
    }
}
@keyframes hvr-bob {
    0% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px)
    }
    50% {
        -webkit-transform: translateY(-4px);
        transform: translateY(-4px)
    }
    100% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px)
    }
}
.nobg .item-title{
        bottom: 63px;
        z-index: 10;
}



a.modBtnLg {
    float: left;
    position: relative;
    width: 100%;
    height: 100%;
}
.gamebar > div{
   padding-left: 30px;
    padding-right: 30px;
    box-sizing: border-box; 
}

.item-title-t {
    font-size: 24px;
    color: #fff;
    font-weight: bold;
    margin-bottom: 20px;
    font-family: 'CANDARA';
}
button.play {
    background-color: darkolivegreen;
    border: navajowhite;
    height: 30px;
    line-height: 30px;
    width: 100px;
    font-size: 15px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-family: 'CANDARA';
}

.track-post > div {
    max-width: 279px;
    background-position-x: -10px !important;
    margin-left: 31px;
    margin-top: 2px;
    position: relative;
    top: 70px;
    height: 70px !important;
    background-size: cover !important;
}



.bao-btt {
    width: 277px;
    float: left;
    position: absolute;
    min-height: 200px;
    padding-top: 87px;
}

img.img-bank {
    display: block;
    margin: auto;
    max-width: 186px;
}

.title-bt {
    padding: 7px 0 14px 0;
    margin-bottom: 0;
    letter-spacing: 1px;
    text-align: center;
    text-transform: capitalize;
    color: #e2cca5;
    font-weight: normal;
    font-size: 22px;
    font-family: 'PT Sans', sans-serif;
}

/*css is login*/
#leftBarMenu {
    float: left;
    width: 20%;
    margin-top: 65px;
    box-sizing: border-box;
    padding-left: 15px;
}

.mainContents {
    float: left;
    width: 100%;
}
.boxBorder {
    float: left;
    width: 100%;
    padding: 4px;
    border: 1px solid black;
}
/*end css is login*/
.center-box {
    margin-bottom: 70px;
}

tr.info {
    margin-bottom: 5px;
    display: table;
    padding: 5px;
    color: #1f1f1f;
}
tr.info b {
    color: #c90000;
    font-size: 18px;
}
.marginBtm120{
    margin-bottom: 120px;
}
.game-blang {
    width: 50%;
    text-align: left;
    font-size: 16px;
    float: left;
    font-family: 'PT Sans', sans-serif;
}
.game-bonus {
    width: 50%;
    text-align: left;
    font-size: 16px;
    float: left;
    font-family: 'PT Sans', sans-serif;
}
.baoBorder {
    width: 312px;
    position: absolute;
    float: left;
    right: -112px;
    top: 45px;
}

.cutom-item-sportbook{
    position: absolute;
    bottom: 44px;
    left: 50%;
    transform: translate(-50%,0);
    font-family: 'CANDARA';
    font-size: 25px;
    color: khaki;
    font-weight: bold;
    z-index: 1;
    text-shadow: -1px 3px 0px #fff;
}