.theme-default .nivoSlider {
    position: relative;
    background: #fff url(loading.gif) no-repeat 50% 50%;
    margin-bottom: 10px;
}
.theme-default .nivoSlider img {
    position: absolute;
    top: 0px;
    left: 0px;
    display: none;
}
.theme-default .nivoSlider a {
    border: 0;
    display: block;
}
.theme-default .nivo-controlNav {
    text-align: center;
    padding: 20px 0;
}
.theme-default .nivo-controlNav a {
    display: inline-block;
    width: 22px;
    height: 22px;
    background: url(bullets.png) no-repeat;
    text-indent: -9999px;
    border: 0;
    margin: 0 2px;
}
.theme-default .nivo-controlNav a.active {
    background-position: 0 -22px;
}
.theme-default .nivo-directionNav a {
    display: block;
    width: 20.5px;
    height: 35px;
    background: url(slider_arrow.png) no-repeat;
    background-size: cover;
    text-indent: -9999px;
    border: 0;
    opacity: 0.6;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}
.theme-default:hover .nivo-directionNav a {
    opacity: 1;
}
.theme-default a.nivo-nextNav {
    background-position: -22px 0;
    right: 10%;
}
.theme-default a.nivo-prevNav {
    left: 10%;
}
@media (max-width: 1120px;
) {
    .theme-default a.nivo-nextNav {
        background-position: -22px 0;
        right: 15px!important;
    }
    .theme-default a.nivo-prevNav {
        left: 15px!important;
    }
}
.theme-default .nivo-caption {
    font-family: Helvetica, Arial, sans-serif;
}
.theme-default .nivo-caption a {
    color: #fff;
    border-bottom: 1px dotted #fff;
}
.theme-default .nivo-caption a:hover {
    color: #fff;
}
.theme-default .nivo-controlNav.nivo-thumbs-enabled {
    width: 100%;
}
.theme-default .nivo-controlNav.nivo-thumbs-enabled a {
    width: auto;
    height: auto;
    background: none;
    margin-bottom: 5px;
}
.theme-default .nivo-controlNav.nivo-thumbs-enabled img {
    display: block;
    width: 120px;
    height: auto;
}